<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment color="primary" (ionChange)="onFilterUpdate($event)">
    <ion-segment-button
            value="all"
            layout="icon-start"
    >
      <ion-icon name="airplane-outline"></ion-icon>
      <ion-label>All Places</ion-label>
    </ion-segment-button>
    <ion-segment-button
            value="bookable"
            layout="icon-start"
    >
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Bookable Places</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ loadedPlaces[0].title }}</ion-card-title>
            <ion-card-subtitle>{{ loadedPlaces[0].price | currency: 'RUB':'symbol-narrow' }}</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].imageUrl"></ion-img>
          <ion-card-content>
            <p>{{ loadedPlaces[0].description }}</p>
          </ion-card-content>
          <div class="ion-padding">
            <ion-button
                    fill="clear"
                    color="primary"
                    [routerLink]="['/', 'places', 'tabs', 'discover', loadedPlaces[0].id]"
            >More</ion-button>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-virtual-scroll
                [items]="listedLoadedPlaces"
                approxItemHeight="70px"
        >
          <ion-item
                  [routerLink]="['/', 'places', 'tabs', 'discover', place.id]"
                  detail
                  *virtualItem="let place"
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place.title }}</h2>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
