<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <div class="d-f">
      <img src="https://img.icons8.com/plasticine/45/000000/price-comparison.png"/>
      <ion-title>
        <ion-title>New Offer</ion-title>
      </ion-title>
    </div>

    <ion-buttons slot="primary">
      <ion-button
              (click)="onCreateOffer()"
              [disabled]="!form.valid || !form.get('image').value"
      >
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
                    type="text"
                    autocomplete
                    autocorrect
                    formControlName="title"
            ></ion-input>
            <ion-icon name="text-outline" slot="start"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea formControlName="description" rows="3"></ion-textarea>
            <ion-icon slot="start" name="document-text-outline"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
        <ion-col size-sm="6" offset-sm="3">
          <p>Description must not be longer than 180 characters</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
            <ion-icon name="cash-outline"  slot="start"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Available from</ion-label>
            <ion-datetime
                    formControlName="dateFrom"
                    min="2020-01-01"
                    max="2023-12-31"
            ></ion-datetime>
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Available to</ion-label>
            <ion-datetime
                    formControlName="dateTo"
                    min="2020-01-02"
                    max="2025-12-31"
            ></ion-datetime>
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <app-location-picker
            (locationPick)="onLocationPicked($event)"
          ></app-location-picker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <app-image-picker
            (imagePick)="onImagePicked($event)"
          ></app-image-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
