<ion-header>
  <ion-toolbar>
    <div class="d-f ion-padding-start">
      <img src="https://img.icons8.com/plasticine/45/000000/pay-date.png"/>
      <ion-title>{{ selectedPlace.title }}</ion-title>
    </div>

    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <form (ngSubmit)="onBookPlace()" #f="ngForm">
    <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input
                  type="text"
                  ngModel
                  name="first-name"
                  required
          ></ion-input>
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input
                  type="text"
                  ngModel
                  name="last-name"
                  required
          ></ion-input>
          <ion-icon name="person-circle" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-item>
          <ion-label position="floating">Number of Guests</ion-label>
          <ion-select
                  name="guest-number"
                  ngModel="2"
          >
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
          </ion-select>
          <ion-icon name="people-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="3">
        <ion-item>
          <ion-label position="floating">From</ion-label>
          <ion-datetime
                  display-format="MMM DD YYYY"
                  picker-format="YY MMM DD"
                  [min]="selectedPlace.availableFrom.toISOString()"
                  [max]="selectedPlace.availableTo.toISOString()"
                  [ngModel]="startDate"
                  name="date-from"
                  required
                  #startDateCtrl="ngModel"
          ></ion-datetime>
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="3">
        <ion-item>
          <ion-label position="floating">To</ion-label>
          <ion-datetime
                  display-format="MMM DD YYYY"
                  picker-format="YY MMM DD"
                  [min]="startDateCtrl.value"
                  [max]="selectedPlace.availableTo.toISOString()"
                  [ngModel]="endDate"
                  name="date-to"
                  required
          ></ion-datetime>
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size-sm="6" offset-sm="3">
        <ion-button
                color="primary"
                type="submit"
                expand="block"
                [disabled]="!f.valid || !datesValid()"
        >
          <ion-icon name="wallet-outline" slot="start"></ion-icon>
          Book!</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>